<h4>Make a bet for this round.</h4> 
<%= session[:player_name] %> has $<%= session[:money] %>.
<br />
<div>
  <form action='/bet' method='post'>
    <input type='text' name='bet_number' class='input-mini' />
    <br />
    <input type='submit' value='make bet' class='btn btn-info' />
  </form>
</div>