<h2>You've amassed a final amount of <%= session[:money] %></h2>
Now that you've honed your blackjack skills, there's nothing left to do except go to Vegas.
<br />
<a href='/new_player'>Start over</a>